.board__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 83px;
  height: 83px;
  font-size: 32px;
  color: #111;
  background-color: #fff;
  border: 1px solid #aaa;
}
